@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.management_messages {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.management_messages_title {
  grid-row: 1;
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.management_messages_body {
  grid-row: 2;
}

.management_messages_body_modal {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 25px;
}

.management_messages_body_modal_address {
  grid-row: 1;
  grid-column: 1;
}

.management_messages_body_modal_details {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  padding: 7px;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.label {
  align-self: center;
}

.time {
  align-self: center;
  justify-self: start;
}

.management_messages_body_modal_subject {
  grid-row: 2;
  grid-column: 1 / -1;
  font-size: 120%;
  padding-left: 10px;
}

.management_messages_body_modal_message {
  grid-row: 3;
  grid-column: 1 / -1;
  padding-left: 10px;
  white-space: pre-wrap;
}
