@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.management_messages {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.management_messages_title {
  grid-row: 1;
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.management_messages_body {
  grid-row: 2;
}

.management_messages_body_modal {
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 25px;
}

.management_messages_body_modal_subject {
  font-size: 120%;
  padding-left: 10px;
}

.management_messages_body_modal_message {
  padding-left: 10px;
}
