@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.projects {
  width: 100%;
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  padding: 5px;
}

.projects_box_heading {
  margin-top: -15px;
  margin-left: 10px;
  background-color: #f7f7f7;
  font-size: 150%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: min-content;
  padding: 0 20px 0 20px;
}

.projects_box_body {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
