@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.heading {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 250%;

  display: grid;
  grid-template-columns: 50px 50px 50px 1fr 50px 50px 50px;
}

a {
  text-decoration: none;
}

.heading_title {
  grid-column: 4;
}

.heading_github {
  grid-column: 5;
}

.heading_linkedin {
  grid-column: 6;
}

.heading_mail {
  grid-column: 7;
}

@media (max-width: 450px) {
  .heading {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 200%;

    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
  }

  .heading_title {
    grid-column: 1;
    text-align: left;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .heading_github {
    grid-column: 2;
  }

  .heading_linkedin {
    grid-column: 3;
  }

  .heading_mail {
    grid-column: 4;
  }
}
