@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.skills {
  width: 100%;
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  padding: 5px;
}

.skills_box_heading {
  margin-top: -15px;
  margin-left: 10px;
  background-color: #f7f7f7;
  font-size: 150%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: min-content;
  padding: 0 20px 0 20px;
}

.skills_box_body {
  width: 100%;
  margin: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.skills_box_footnote {
  font-size: 70%;
  font-weight: 100;
  color: dimgray;
  margin: 0 10px 0 10px;
}
