.project {
  margin: 15px;
}

.project_label {
  margin-top: 5px;
}

.project_description_short {
  margin-top: 15px;
  white-space: pre-wrap;
  font-weight: bold;
}

.project_description {
  margin-top: 15px;
  white-space: pre-wrap;
}

.card_style {
  min-height: 180px !important;
}

.project_opensource_label {
  margin-bottom: 5px;
}
